// @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

// @font-face {
//   font-family: Magazine;
//   src: url('./assets/Magazine.ttf');
// }

@layer {
  :root {
    --text: #333;
    --background: #f0ede4;
    --orange: #ffbf62;
    --purple: #e862a9;
    --green: #34d56a;
    --red: #ed1c24;
    --titleColor: #e06c75;
    --blue: #61afef;
    --titleFont: 'Caveat', cursive;
    --textFont: 'Kalam', cursive;
    --magazine: 'Magazine', monospace;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
  }

  main {
    min-height: 100vh;
    width: 100vw;
    color: #333;
    display: flex;
    align-items: flex-end;
    padding-top: 80px;
    justify-content: center;
  }

  h1,
  h2,
  h3 {
    font-family: var(--titleFont);
    color: var(--titleColor);
  }

  h1 {
    font-size: 5rem;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    transition: color 0.1s ease-in-out;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  main {
    padding-top: 0;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1360px) {
  body {
    background-size: 250px;
  }
}

@media (min-width: 1800px) {
  body {
    background-size: 350px;
    background-position:
      100px bottom,
      calc(100% - 100px) bottom,
      calc(100% - 100px) top;
  }
}
